*{
    padding: 0;
    margin: 0;
    font-family: 'justify-content, sans-serif';
    box-sizing: border-box;
}

nav ul{
    flex: 1;
    list-style: none;
    text-align: right;
    padding-right: 80px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    position: relative;
    font-size: larger;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position:absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width: 50%;
}

@media only screen and (max-width: 768px){
    .nav{
        width: 560px;
        height: 5px;
        margin: 100px 20px 0px 20px;
    }
}

.detel{
    margin-left: 8%;
    margin-top: 13%;
}

.detel h1{
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

span{
    color: orange;
}

.detel p{
    color: #555;
    line-height: 22px;
}

.detel a{
    background: #212121;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    color:  #08fdd8;
    margin: 10px 0;
    border-radius: 5px;
    border-style: solid;
    border-color: #08fdd8;
}

body{
    background: #0c192c;
}

.container{
    width: 100%;
    height: 115vh;
    overflow: hidden;
}

.bubbles{
    position: relative;
    display: flex;
}

.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #08fdd8;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
                0 0 50px #4fc3dc,
                0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even){
    background: #f27fa7;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #f79bbb,
    0 0 100px #f2c5d5;
}

@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
    
}

img{
    width: 430px;
    height: auto;
    margin-right: 50px;
}

.myself{
    width: 100%;
    margin-top: -70px;
    width: 100%;
    height: 99vh;
    background-color: #212121;
}



.about-text{
    width: 550px;
}

.main{
    width: 1000px;
    max-width: 150%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-right: 80px;
}

.about-text h5{
    color:white;
    letter-spacing: 3px;
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.about-text p{
    color: aliceblue;
    letter-spacing: 3px;
    line-height: 25px;
    color: white;
}

.contact-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social{
    display: flex;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(164, 204, 232);
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
}